/* modal design tokens */
:root { /* @boilerplate */
  --modal-backdrop-background: rgb(19 19 19 / 75%); /* @boilerplate */
  --modal-width-mobile: calc(100vw - 48px); /* @boilerplate */
  --modal-width-desktop: calc(100vw - 64px); /* @boilerplate */
  --modal-max-width: 900px; /* @boilerplate */
  --modal-content-padding: var(--spacing-m); /* @boilerplate */
  --modal-content-padding-desktop: var(--spacing-l); /* @boilerplate */
  --modal-content-margin-top: 44px; /* @boilerplate */
  --modal-close-button-size: 44px; /* @boilerplate */
  --modal-close-icon-size: var(--icon-size); /* @boilerplate */
  --modal-close-icon-thickness: 2px; /* @boilerplate */

  /* exit interstitial ("Leaving www.Sabril.net") */
  --modal-exit-width: 600px;
  --modal-exit-radius: 15px;
  --modal-exit-shadow: 0 5px 15px rgb(0 0 0 / 50%);
  --modal-exit-padding: 25px;
  --modal-exit-heading-color: var(--brand-purple);
  --modal-exit-heading-size: 22px;
  --modal-exit-body-size: 16px;
  --modal-exit-close-background: var(--brand-green-light);
  --modal-exit-close-width: 66px;
  --modal-exit-close-height: 75px;
  --modal-exit-button-ok-background: var(--brand-orange);
  --modal-exit-button-cancel-background: #999;
  --modal-exit-button-radius: 8px;
  --modal-exit-button-padding: 6px 74px;
  --modal-exit-button-gap: 5px;
  --modal-exit-button-row-margin-top: 15px;
  --modal-exit-button-font-size: 14px;
  --modal-exit-close-font-size: 25px;
  --modal-exit-content-padding: 25px 35px 25px 25px;
  --modal-exit-offset-top: 105px;
}
